.modal-main {
  position: fixed;
  display: flex;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100vh;
  margin-top: 50px;
  background: var(--white);
  justify-content: flex-start;
  align-items: flex-start;
  transition: 0.5s;
  z-index: 10;
}
.modal-main-visible {
  left: 0;
}
