.main-nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  height: 55px;
  background-color: var(--light-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  border-radius: 10%;
}

.main-nav h3 {
  text-align: center;
}

@media only screen and (max-width: 660px) {
  .main-nav h3 {
    font-size: 14px;
  }
}
